<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
             <sqala_payment>
                <debug>0</debug>
                <active>1</active>
                <environment>production</environment>
                <statement_descriptor>Store Name</statement_descriptor>
                <model>SqalaPaymentBaseFacade</model>
                <order_status>payment_review</order_status>
                <payment_action>authorize</payment_action>
                <title>Sqala</title>
                <currency>BRL</currency>
                <is_gateway>1</is_gateway>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <min_order_total>5</min_order_total>
                <max_order_total>1000000</max_order_total>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <group>sqala_group</group>
                <get_tax_id_from>address</get_tax_id_from>
                <street>0</street>
                <number>1</number>
                <locality>2</locality>
                <complement>3</complement>
                <exclude_fetch_cron>fraud,processing,pending_payment,holded,complete,closed,canceled,paypal_canceled_reversal,paypal_reversed,pending_paypal</exclude_fetch_cron>
                <debugReplaceKeys>header</debugReplaceKeys>
                <type_app>account</type_app>
            </sqala_payment>
            <sqala_pix>
                <model>SqalaPaymentPixFacade</model>
                <title>PIX</title>
                <payment_action>order</payment_action>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_initialize>1</can_initialize>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_accept_payment>1</can_accept_payment>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <get_document_identification>0</get_document_identification>
                <order_status>pending</order_status>
                <environment>production</environment>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                 <group>sqala_group</group>
                <expiration>30</expiration>
                <instruction_checkout translate="true"><![CDATA[This payment method offers <strong>immediate confirmation</strong>.<br>The payment deadline is within <strong>%1</strong>.<br>Upon completing your order, you will receive a code to complete the transaction through your preferred banking institution (please consult your bank regarding any daily Pix transfer limits).]]></instruction_checkout>
                <get_document_identification>0</get_document_identification>
                <additional_information>payer_document_type,payer_document_identification</additional_information>
                <paymentInfoKeys>payer_document_identification,qr_code,sqala_status,sqala_paidAt</paymentInfoKeys>
                <privateInfoKeys></privateInfoKeys>
            </sqala_pix>
        </payment>
    </default>
</config>